* {
	padding: 0;
	margin: 0 auto;
}
.main {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: fixed;
	height: 400px;
	width: 900px;
	border: 1px solid #CCC9C9;
	margin-top: 100px;
}
input {
	width: 250px;
	margin-right: 8px;
	height: 25px;
	line-height: 25px;
	float: left;
}
button {
	float: left;
	border: none;
	color: white;
	background: #108ee9;
	font-size: 14px;
	height: 29px;
	margin-right: 8px;
	width: 80px;
	line-height: 29px;
}
.topest {
	margin-top: 20px;
	width: 800px;
	height: 29px;
	text-align: center;
}
.text {
	width: 800px;
	text-align: ;
	margin-top: 40px;
}
.text p {
	margin: .63em 0 1.8em 0;
    padding: 0;
    counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}
span {
	color:red;
}