* {
	margin: 0;
	padding: 0;
}
#change-money {
	text-align: center;
	width: 90vw;
	height: 35vh;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;
}
#exchange div {
	margin-bottom: 5.5vh;
	position: relative;
}
#exchange span {
	width: 13vw;
	font-size: 4vw;
	letter-spacing: 0.3vw;
	line-height: 7vh;
	margin-right: 5vw;
	color: #108ee9;
	display: inline-block;
	text-decoration: underline;
}
#exchange input {
	outline-color: #108ee9;
	height: 7vh;
	width: 60vw;
	border: 2px solid #efefef;
	padding-left: 5vw;
	letter-spacing: 0.5vw;
	border-radius: 3px;
	font: 4vw 微软雅黑;
}
::-webkit-input-placeholder { /* WebKit browsers */ 
	color: #b2b2b2; 
} 
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
	color: #b2b2b2; 
} 
::-moz-placeholder { /* Mozilla Firefox 19+ */ 
	color: #b2b2b2; 
} 
:-ms-input-placeholder { /* Internet Explorer 10+ */ 
	color: #b2b2b2; 
} 
button {
	width: 75vw;
	height: 6vh;
	font: 5vw "微软雅黑";
	color: white;
	background: #108ee9;
	border-radius: 2vw;
	border:1px;
	line-height: 5.5vh;
}
#exchange .front.last {
	z-index: 3;
}
#exchange .toggle {
	z-index: -1;
	top: -9vw;
	position: absolute;
	border-width: 5vw;
	border-color:  transparent transparent #f6f6f7 transparent;
	height: 0;
	width: 0;
	overflow: hidden;
	border-style:solid;
}
#exchange .change-units {
	left: 5vw;
	display: none;
	background: #f6f6f7;
	color: #818385;
	font: 6vw "微软雅黑";
	width: 80vw;
	height: 27vh;
	position: absolute;
}
table {
	cursor: pointer;
	text-align: "";
}
table td {
	color: #818385;
	letter-spacing: 1vw;
	font-weight: 550;
	width: 25vw;
	height: 6.5vh;
}