* {
	padding: 0;
	margin: 0;
}
 input {
 	outline: none;
 }
.inputPassword {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 20vh;
	width: 80vw;
	position: fixed;
	margin: auto;
	text-align: center;
}
.inputPassword .key {
	display: inline-block;
	text-align: center;
	width: auto;
}
.inputPassword .key input {
	float: left;
	margin: 0;
	padding:0;
	width: 15vw;
	height: 15vw;
	border:none;
	border-top: 1px solid #babbbb;
	border-bottom: 2px solid #babbbb;
	border-right: 1px solid #efefef;
	font-size: 7vw;
    font-weight: 700;
    text-align: center;
    line-height: 50px;

}
.inputPassword .key input:nth-child(1) {
	border-left: 1px solid #efefef;
}
.inputPassword>button {
	margin-top: 3vh;
	background: #108ee9;
	color: white;
	font-size: 4vw;
	width: 28vw;
	height: 5vh;
	border:none;
	border-radius: 5px;
	line-height: 5vh;
	letter-spacing: 3px;
}
.clear {
	clear:both;
}