* {
	padding: 0;
	margin: 0 auto;
	list-style: none;
}
#all {
	display: block;
}
.lead .wallet {
	background: #d1515e;
	height: 63px;
	padding-left: 50px;
}
.lead img {
	float: left;
	position: relative;
	top: 0;
}
.lead h1 {
	color: white;
	font-size: 50px;
	position: relative;
	line-height: 63px;
	letter-spacing:10px;
	padding-left: 20px;
	display: inline-block;
}
 .row {
	padding-bottom: 40px;
}
 .row ul {
	padding-top: 20px;
	height: auto;
	padding-left: 50px;
}
 .row ul li {
	float: left;
}
 .row ul li a {
	text-decoration: none;
	color: #626262;
	font-size: 25px;
	letter-spacing: 3px;
	padding: 10px 20px 10px 20px;
	border-bottom: 2px solid #d1515e;
	border-radius: 5px;
}
.row .login {
	background: #d1515e;;
	color: white;
}
.signIn {
	margin-top: 50px;
	text-align: center;
	margin-top: 50px;
	display: block;
	box-shadow: 20px 20px 10px 0 lightgrey;
}
.signIn p {
	margin-top: 100px;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 20px;
}
.signIn h1 {
	margin-top: 50px;
	font-size: 2.25rem;
	font-family: inherit;
	line-height: 1.2;
    color: inherit;
    letter-spacing: .02em;
    font-weight: lighter;
}
form .login {
	width: 590px;
	height: 41px;
	border: 1px solid black;
	text-align: left;
}
input {
	border:none;
	text-align: left;
	padding-left: 10px;
	width: 100%;
	height: 100%;
	font-size: 20px;
}
.pickuang img {
	margin-left: 10px;
}
.signIn .creat {
	margin-top: 50px;
	padding-bottom: 50px;
}
.signIn a {
	text-decoration: none;
	padding:10px 20px 10px 20px;
	font-size: 20px;
	color: white;
	background:#d1515e;;
}
.aqmsg {
	text-align: center;
	position: relative;
	display: none;
	height: 364px;
	box-shadow: 20px 20px 10px 0 lightgrey;
}
.aqmsg form {
	margin-top: 55px;
	margin-bottom: 55px;
}
.aqmsg p {
	margin-top: 50px;
	font-size: 30px;
}
.aqmsg span {
	font-size: 30px;
	font-family: SimSun ;
	font-weight: lighter;
}
.aqmsg th {
	height: 40px;
	width: auto;
	margin-left: 20px;
}

.aqmsg tr {
	padding-bottom: 50px;
	display: block;
}
.aqmsg .input {
	border: 1px solid black;
	border-radius: 5px;
}
.aqmsg input {
	border: none;
	height: 100%;
	width: 500px;
	position: relative;
	padding-left: 10px;
	font-size: 20px;
}
.aqmsg .appear{
	padding-bottom: 100px !important;
}
.aqmsg a {
	font-size: 20px;
	padding: 10px 20px;
	background: white;
	border-bottom: 3px solid #d1515e;
	text-decoration: none;
	color: #514747;
}
.aqmsg a:hover {
	background: #d1515e;
	color: white;
}
.exchange {
	text-align: center;
	border: 2px  black;
	margin-top: 50px;
	overflow:hidden;zoom:1;
	display: none;
	box-shadow: 20px 20px 10px 0 lightgrey;
}
.exchange p {
	font-size: 2.25rem;
	font-family: inherit;
	line-height: 1.2;
    color: inherit;
    letter-spacing: .02em;
    font-weight: lighter;
}
.exchange .main {
	position: relative;
	margin-top:125px;
	margin-bottom: 50px;
}

.exchange div div {
	height: 90px;
	width: 150px;
	height: 100px;
	position: relative;
	display: inline-block;
	margin-right: 50px;
	margin-left: 50px;
}
.exchange div div a {
	text-decoration: none;
	color: #514747;
	font-size: 30px;
}
.exchange div div span:hover {
	background:#d1515e;
	padding: 0 20px;
	border-radius: 5px;
}
.exchange div div img:hover {
	box-shadow: 5px 5px 5px 5px;
}
.aquiremoney {
	text-align: center;
	position: relative;
	display: none;
	box-shadow: 20px 20px 10px 0 lightgrey;
	width:100%;
}
.aquiremoney p {
	margin-top: 50px;
	font-size: 30px;
}
.aquiremoney div {
	padding-top: 55px;
}
.aquiremoney span {
	font-size: 30px;
	font-family: SimSun ;
	font-weight: lighter;
}
.aquiremoney th {
	height: 40px;
	width: auto;
	margin-left: 20px;
}

.aquiremoney tr {
	padding-bottom: 50px;
	display: block;
}
.aquiremoney .input {
	border: 1px solid black;
	border-radius: 5px;
}
.aquiremoney input {
	border: none;
	height: 100%;
	width: 500px;
	position: relative;
	padding-left: 10px;
	font-size: 20px;
}
.aquiremoney button {
	font-size: 20px;
	padding: 10px 20px;
	background: white;
	border-bottom: 3px solid #d1515e;
}
.aquiremoney button:hover {
	background: #d1515e;;
}
.aquiremoney a {
	text-decoration: none;
	color: black;
	font-size: 20px;
	padding: 10px 20px;
	position: absolute;
	bottom: 10px;
	left: 10px;
	background: lightblue;
}
.aquiremoney a:hover {
	background: #d1515e;
	color: white;
}
.sendmoney {
	text-align: center;
	position: relative;
	box-shadow: 20px 20px 10px 0 lightgrey;
	display: none;
}
.sendmoney p {
	margin-top: 50px;
	font-size: 30px;
}
.sendmoney div {
	padding-top: 55px;
}
.sendmoney span {
	font-size: 30px;
	font-family: SimSun ;
	font-weight: lighter;
}
.sendmoney th {
	height: 40px;
	width: auto;
	margin-left: 20px;
}

.sendmoney tr {
	padding-bottom: 50px;
	display: block;
}
.sendmoney .input {
	border: 1px solid black;
	border-radius: 5px;
}
.sendmoney input {
	border: none;
	height: 100%;
	width: 500px;
	position: relative;
	padding-left: 10px;
	font-size: 20px;
}
.sendmoney button {
	font-size: 20px;
	padding: 10px 20px;
	background: white;
	border-bottom: 3px solid #d1515e;
}
.sendmoney button:hover {
	background: #d1515e;;
}
.sendmoney a {
	text-decoration: none;
	color: black;
	font-size: 20px;
	padding: 10px 20px;
	position: absolute;
	bottom: 10px;
	left: 10px;
	background: lightblue;
}
.sendmoney a:hover {
	background: #d1515e;
	color: white;
}
.success {
	display: none;
	box-shadow: 20px 20px 10px 0 lightgrey;
	padding-bottom: 150px;
}
.success h1 {
	margin-top: 50px;
	font-size: 30px;
	font-family: SimSun ;
	font-weight: lighter;
	text-align: center;
}
.success h2 {
	margin-top: 100px;
	text-align: center;
}
.success button {
	font-size: 20px;
	padding: 10px 20px;
	background: white;
	border-bottom: 3px solid #d1515e;
	margin: 0 auto;
}
.success button:hover {
	background: #d1515e;;
}
.show {
	display: none;
	border: 2px solid black;
	text-align: center;
	position: relative;
	width: 80%;
	height: 100%;
}
.show .chaxun {
	letter-spacing: 2px;
	margin-top: 50px;
	font-size: 30px;
	color: #625D5D;
	margin-bottom: 50px;
}
.show .left {
	float: left;
	margin-right: 40px;
	text-align: right;
	position: relative;
	font-family: STSong;
	font-size: 20px;
	font-size: 30px;
	color: #21A498;
	font-weight: bold;
	width: 220px;
}
.show tr {
	margin-top: 60px;
	display: block;
}
.show table .right {
	font-family: STSong;
	border-bottom: 2px dashed black;
	height: auto;
	position: relative;
	font-size: 20px;
	padding-bottom: 5px;
	color: #646060;
}
.show table {
	margin-bottom: 200px;
}
